body{
    background-color: rgb(191, 195, 210);
}
#corBranco{
    color: white;
}
h1{
    color: rgb(5, 1, 9);
}
.corVermelho{
    color: red;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin-left: 10px;
}
